/* hero styling specific to experts page */
#experts-hero{
    background-image: url("../images/old-painting-cropped.jpg");
    height: 250px;
    background-position: 0 15%;
}
#experts-hero h2 {
    width: 100%;
    top: 25%;
    color: #fff;
    text-shadow: 2px 2px 3px #333;
    margin-top: 20px;
}
#experts-hero h3 {
    color: #ddd;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    text-shadow: 2px 2px 3px #333;

}

/* main content row/column styling */

/* --container set up */
.container {
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
    padding: 5%;
    box-sizing: border-box;
    /* background-color: #eee; */
    background-color: #2d555120;
    border: 3px solid #333;
}
/* --images, left/right for odd/even rows-- */
.container .profile-pic {
    width: 250px;
    height: 250px;
}
.container.odd .profile-pic {
    float: left;
    margin-right: 20px;
}
.container.even .profile-pic {
    float: right;
    margin-left: 20px;
}

/* --article header-- */
.container .article-title {
    font-size: 40px;
    color: #2d5551;
    margin: 0 0 0 0;
}

/* --article preview paragraph-- */
.container .article-text {
    font-size: 25px;
    margin: 30px 0 0 0;
}


/* --read more button, left/right for odd/even rows-- */
.container .read-more {
    position: relative;

    background-color: #574b44;
    border: none;
    border-radius: 10px;
    padding: 25px 80px;
    margin-bottom: -20px;
    box-sizing: border-box;

    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}
.container.odd .read-more {
    left: 78%;
}
.container.even .read-more {
    left: 0%;
    margin-top: 1em;
}
