/* hero styling specific to experts page */
#experts-hero{
    background-image: url("../images/old-painting-cropped.jpg");
    height: 250px;
    background-position: 0 15%;
}
#experts-hero h2 {
    width: 100%;
    top: 25%;
    color: #fff;
    text-shadow: 2px 2px 3px #333;
    margin-top: 20px;
}
#experts-hero h3 {
    color: #ddd;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    text-shadow: 2px 2px 3px #333;

}

/* main content row/column styling */

/* --container set up-- */
.container {
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
    padding: 3%;
    box-sizing: border-box;
    background-color: #2d555120;
    border: 3px solid #333;
}
.experts .col {
    margin: 1%;
}

/* --images-- */
.container .profile-pic {
    width: 100%;
    height: auto;
}


/* --article header-- */
.container .article-title {
    font-size: 40px;
    color: #2d5551;
    margin: 0 0 0 0;
}

/* --article preview paragraph-- */
.container .article-text {
    font-size: 25px;
    margin: 0 0 0 0;
}


/* --read more button-- */
.container .read-more {
    position: relative;
    top: 150px;

    background-color: #574b44;
    border: none;
    border-radius: 10px;
    padding: 25px 80px;
    box-sizing: border-box;

    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}
