/* Colors
Green : #2d5551
Brown : #574b44
White : #fff 
*/
body {
    margin: 100px 0 0 0;
}

/* ==Not used anymore I don't think */
/* h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    color: #2d5551;
    height: 100px;
} */

/* == universal hero image styling == */
.hero {
    width: 100%;
    height: 475px;
    overflow: hidden;
    background-size: 100% auto;
    background-position: top;
}
.hero h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 75px;
    position: relative;
    top: 15%;
    text-shadow: 2px 2px 3px #fff;
}

/* == Golbal helper classes == */
.flex {
    display: flex;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.text-center {
    text-align: center;
}
.align-items-center {
    align-items: center;
}

.w-100 {
    width: 100%
}
.w-75 {
    width: 75%
}
.w-67 {
    width: 66.6666%
}
.w-60 {
    width: 60%
}
.w-40 {
    width: 40%
}
.w-33 {
    width: 33.3333%
}
.w-30 {
    width: 30%;
}
.w-25 {
    width: 25%;
}



/* ==== NAVIGATION BAR STYLING == */

header {
    width: 100%;
    height: 100px;
    background-color: #574b44;
    position: fixed;
    top: 0;
    z-index: 9999;
}

header img {
    height: 90px;
    /* background-color: white; */
    padding: 2.5px;
    margin: 2.5px 0 0 5px;

    display: inline;
    /* position: relative; */
    /* top: 0; */
    /* margin: 0 10px 0 0; */
}

header nav {
    display: inline;
    position: inherit;
    margin: 40px 0 0 10px;
}
header .nav {
    margin: 0;
    padding: 0;
}
header .nav li {
    margin: 10px;
}
.nav li {
    font-family: Helvetica, sans-serif;
    display: inline;
}
.nav a:link, .nav a:visited {
    color: white;
    text-decoration: none;
    padding: 20px;
    background-color: #2d5551;
}
.nav a:hover {
    filter: drop-shadow(0 0 5px #888);
    text-decoration: underline;
}
.nav a.active-page {
    color: #2d5551;
    background-color: white;
    filter: drop-shadow(0 0 7px #2d5551)
}



/* === FOOTER STYLING === */

footer {
    width: 100%;
    height: 200px;
    background-color: #574b44;
    display: flex;
}
footer .col {
    width: 100%;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
footer img {
    width: 30%;
    background-color: white;
    padding: 1%;
}
footer .nav {
    margin: 0;
    padding: 0;
}
.row1 {
    position: relative;
    bottom: 25px;
    display: block;
}
.row2 {
    position: relative;
    top: 25px;
    display: block;
}
