/* hero styling specific to home page */
#home-hero{
    background-image: url("../images/mountain-lake-cropped.jpg");
}
#home-hero h3 {
    color: #ddd;
    width: 100%;
    font-size: 20px;
    margin-top: 100px;
    text-shadow: 2px 2px 3px #333;
}

/* main content row/column styling */
.container {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    padding: 2%;
    box-sizing: border-box;
    background-color: #2d555120;
    border: 3px solid #333;
}
.home .col {
    /* padding: 5px; */
    margin: 0 20px 0 20px;
}

/* --images-- */
.container .feature-photo {
    width: 100%;
    height: auto;
    /* margin: 0 50px 0 50px; */
}

/* --page header-- */
.container .page-title {
    font-size: 80px;
    color: #2d5551;
    margin: 0 0 0 0;
}
/* --page subheader-- */
.container .sub-head {
    font-size: 27px;
    margin: 30px 0 30px 0;
}
/* --article preview paragraph-- */
.container .page-description {
    font-size: 20px;
    color: #2d555199;
    margin: 0 0 0 0;
}

/* --read more button-- */
.container .explore-more {
    position: relative;
    /* top: 25%; */
    margin-top: 7%;
    /* margin-bottom: -20px; */

    background-color: #574b44;
    border: none;
    border-radius: 10px;
    padding: 25px 80px;
    box-sizing: border-box;

    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}